[Unit]
Description=Multicraft Daemon

[Service]
Type=forking
User=root
WorkingDirectory=/srv/multicraft
ExecStartPre=/usr/bin/rm -f /srv/multicraft/multicraft.pid
PIDFile=/srv/multicraft/multicraft.pid
ExecStart=/srv/multicraft/bin/multicraft start
ExecStop=/srv/multicraft/bin/multicraft stop
Restart=on-failure

[Install]
WantedBy=multi-user.target

